<div style="background-color: #3F57B5; color: white;">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 1rem; margin-bottom: 2rem">
    <span>
      <mat-icon>person</mat-icon>
      <span class="mat-display-1"> Name Lastname </span>
    </span>
    <div>
      <mat-icon>edit</mat-icon>
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-around start">
  <div class="mat-subheading-2 mat-body-2">Email:</div>
  <div class="mat-subheading-2 mat-body-2">Telefon:</div>
  <div class="mat-subheading-2 mat-body-2">Role:</div>
</div>
