<div style="background-color: #3F57B5; color: white;">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 1rem; margin-bottom: 2rem">
    <span>
      <mat-icon>person</mat-icon>
      <span class="mat-display-1"> {{account.firstName}} {{account.lastName}} </span>
    </span>
    <div>
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
<div class="pl-5">
  <div class="mat-subheading-2 mat-body-2">id: {{account.id}}</div>
  <div class="mat-subheading-2 mat-body-2">nick: {{account.username}}</div>
  <div class="mat-subheading-2 mat-body-2">Email: {{account.email}}</div>
  <div class="mat-subheading-2 mat-body-2">Telefon: {{account.phoneNumber}}</div>
  <div class="mat-subheading-2 mat-body-2">Role: {{account.roles}}</div>
</div>


