<div>
  <!--  <div class="spinner-container" *ngIf="dataSource.loading$ | async">-->
  <!--    <mat-spinner></mat-spinner>-->
  <!--  </div>-->
  <mat-table [dataSource]="lessons" class="lessons-table mat-elevation-z8">

    <ng-container *ngFor="let column of displayedColumns;">

      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{lesson[column]}}</mat-cell>
      </ng-container>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!--  <mat-paginator [pageSizeOptions]="[3, 5, 10]"></mat-paginator>-->
</div>
