<mat-card class="">
  <mat-card-header>
    <mat-card-title>
      <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button (click)="onEdit()" mat-menu-item>Edytuj</button>
        <button (click)="onDelete()" mat-menu-item>Usuń</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="text-center">
      <mat-icon class="text-6xl" color="primary">account_circle</mat-icon>
    </div>
    <p class="text-2xl pb-4 text-center pt-4">{{student.firstName}} {{student.lastName}}</p>
    <table>
      <tbody class="text-md">
      <tr>
        <td class="float-left">
          <mat-icon matTooltip="telefon">call</mat-icon>
        </td>
        <td class="float-left">{{student.phoneNumber}}</td>
      </tr>
      <tr>
        <td>
          <mat-icon matTooltip="email">email</mat-icon>
        </td>
        <td>{{student.email}}</td>
      </tr>
      <tr>
        <td>
          <mat-icon matTooltip="data utworzenia">date_range</mat-icon>
        </td>
        <td>{{student.createdDate | date}}</td>
      </tr>
      <tr>
        <td>
          <mat-icon matTooltip="utworzono przez">person_add_alt</mat-icon>
        </td>
        <td>{{student.createdBy}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
