<h2 mat-dialog-title></h2>
<mat-dialog-content>
  <form [formGroup]="newStudentForm">
    <mat-form-field class="w-full">
      <mat-label>Imię</mat-label>
      <input [value]="firstName.value | titlecase" formControlName="firstName" matInput required>
      <mat-error *ngIf="firstName?.hasError('minlength')">
        imię musi zawierać minimum {{firstName.errors?.minlength.requiredLength}} litery
      </mat-error>
      <mat-error *ngIf="firstName?.hasError('pattern')">
        imię może zwierać tylko litery
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Nazwisko</mat-label>
      <input [value]="lastName.value | titlecase" formControlName="lastName" matInput required>
      <mat-error *ngIf="lastName?.hasError('minlength')">
        nazwisko musi zawierać minimum {{lastName.errors?.minlength.requiredLength}} litery
      </mat-error>
      <mat-error *ngIf="lastName?.hasError('pattern')">
        nazwisko może zwierać tylko litery
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required type="email">
      <mat-error *ngIf="email?.hasError('pattern')">
        niepoprawny adres email
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Tel</mat-label>
      <input formControlName="phoneNumber" matInput required>
      <mat-error *ngIf="phoneNumber?.hasError('pattern')">
        niepoprawny telefon, podaj same cyfry
      </mat-error>
    </mat-form-field>
  </form>
  <p>
    <mat-slide-toggle (click)="switch()" color="primary">Dodaj produkt</mat-slide-toggle>
  </p>
  <form [formGroup]="newProductForm">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Kategoria</mat-label>
      <mat-select formControlName="productTypeId" required>
        <mat-option *ngFor="let pt of productTypes" [value]="pt.id">
          <span class="font-bold">Kat. {{pt.productCategory}}</span>
          - {{pt.name}}, {{pt.description | slice:0:30}},
          cena bazowa: <span class="font-bold">{{pt.basePrice}} zł</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Liczba godzin</mat-label>
      <input formControlName="hoursLeft" matInput type="number">
      <mat-error *ngIf="hoursLeft?.hasError('pattern')">
        niepoprawny format - akceptowalne tylko pełne liczby
      </mat-error>
      <mat-error *ngIf="hoursLeft?.hasError('max')">
        liczba godzin jest jest za wysoka
      </mat-error>
    </mat-form-field>
    <section class="flex space-x-4">
      <p>
        <mat-checkbox color="primary" formControlName="bookOnline">Rezerwacja online</mat-checkbox>
      </p>
      <p>
        <mat-checkbox color="primary" formControlName="isPaid">Zapłacone</mat-checkbox>
      </p>
    </section>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Cena</mat-label>
      <input formControlName="price" matInput type="number">
      <span matSuffix>PLN</span>
      <mat-error *ngIf="price?.hasError('max')">
        cena jest jest za wysoka
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="float-right">
  <button (click)="onClose()" mat-button>Anuluj</button>
  <button (click)="onSave()" [disabled]="validateForm()" color="primary" mat-raised-button type="submit">
    Dodaj
  </button>
</mat-dialog-actions>

