<mat-card-header>
  <mat-card-title>
    Dodaj lekcje
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="newLesson">
    <table>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Instruktor</mat-label>
            <mat-select formControlName="instructorId" required>
              <mat-option *ngFor="let instructor of instructors" [value]="instructor">
                {{instructor}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Data</mat-label>
            <input [formControl]="date" [matDatepicker]="picker" formControlName="date" matInput required>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill">
            <mat-label>Godzina</mat-label>
            <mat-select formControlName="hour" required>
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Liczba godzin</mat-label>
            <mat-select formControlName="hoursCount" required>
              <mat-option *ngFor="let hour of hoursCount" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button (click)="onSave()" [disabled]="validateForm()" color="primary" mat-raised-button type="submit">
            Dodaj
          </button>
        </td>
      </tr>
    </table>
  </form>
</mat-card-content>
