
th {
  font-weight: bold;
}

tr:hover {
  color: #3F57B5;
  background-color: #C2C7E6;
  cursor: pointer;
}

.mat-column-id {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-firstName {
  padding-left: 16px;
}


.demo-table {
  width: 100%;
}
