table {
  width: 100%;
}

.student-table {
  padding: 3rem
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}
