table {
  width: 100%;
}

.student-table {
  padding: 3rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr:hover {
  color: #3F57B5;
  background-color: #C2C7E6;
  cursor: pointer;
}

#students-header {
  justify-content: space-between;
  display: flex;
  list-style-type: none;
  margin-bottom: 1rem
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
