table {
    width: 100%;
  }
  
  .product-table {
    padding: 3rem;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  tr:hover {
    color: #3F57B5;
    background-color: #C2C7E6;
    cursor: pointer;
  }
