
td {
  padding: 1rem;
}

table {
  width: 100%;
}

mat-card-content {
  td {
    float: left;
  }
}


mat-tab-group {
  tr {
    border-width: 1px;
  }

  .lessons {

    tr:hover {
      color: #3F57B5;
      background-color: #C2C7E6;
      cursor: pointer;
    }
  }
}
