<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Kategoria</mat-label>
      <mat-select formControlName="productCategory" required>
        <mat-option *ngFor="let cat of category" [value]="cat">{{cat}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Nazwa</mat-label>
      <input [value]="name.value" formControlName="name" matInput required>
      <mat-error *ngIf="name?.hasError('minlength')">
        nazwa musi zawierać minimum {{name.errors?.minlength.requiredLength}} litery
      </mat-error>
      <mat-error *ngIf="name?.hasError('maxlength')">
        nazwa może zawierać max {{name.errors?.maxlength.requiredLength}} liter
      </mat-error>
      <mat-error *ngIf="name?.hasError('pattern')">
        nazwa może zwierać tylko litery i liczby
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Opis</mat-label>
      <input [value]="description.value " formControlName="description" matInput required>
      <mat-error *ngIf="description?.hasError('minlength')">
        opis musi zawierać minimum {{description.errors?.minlength.requiredLength}} litery
      </mat-error>
      <mat-error *ngIf="description?.hasError('maxlength')">
        opis może zawierać max {{description.errors?.maxlength.requiredLength}} liter
      </mat-error>
      <mat-error *ngIf="description?.hasError('pattern')">
        opis może zwierać tylko litery i liczby
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Cena bazowa</mat-label>
      <input formControlName="basePrice" matInput type="number">
      <mat-error *ngIf="basePrice.hasError('max')">
        cena bazowa jest jest za wysoka
      </mat-error>
      <mat-error *ngIf="basePrice.hasError('min')">
        cena bazowa jest jest za niska
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Liczba godzin</mat-label>
      <input formControlName="lessonsHours" matInput type="number">
      <mat-error *ngIf="lessonsHours.hasError('max')">
        liczba godzin jest jest za wysoka
      </mat-error>
      <mat-error *ngIf="lessonsHours.hasError('min')">
        liczba godzin jest jest za niska
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="float-right">
  <button (click)="onClose()" mat-button>Anuluj</button>
  <button (click)="onSave()" [disabled]="validateForm()" color="primary" mat-raised-button type="submit">
    Dodaj
  </button>
</mat-dialog-actions>
