<p class="text-center">{{user}}</p>


<!--<input [(ngModel)]="editUser" type="text">-->
<!--<button (click)="editTheUser()" mat-button>edit</button>-->
<!--<p>hey</p>-->


<!--<div class="flex flex-wrap">-->
<!--  <span class="w-32 h-32 bg-blue-500 ">one</span>-->
<!--  <div class="w-32 h-32 bg-green-500">two</div>-->
<!--  <div class="w-32 h-32 bg-yellow-600">three-->
<!--  </div>-->
<!--</div>-->


<input [(ngModel)]="data" class="form-control" id="name"
       required
       type="text"/>

<p>Hello {{ data }}!</p>

<input [value]="data" type="text">


<input (click)="log()" [(ngModel)]="data" matInput name="username" type="text">
