<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLinkActiveOptions]="{exact: true}" mat-list-item routerLink="" routerLinkActive="active">Home</a>
      <ng-container *ngIf="!authService.isUserLoggedIn(); else loggedIn">
        <a mat-list-item routerLink="login" routerLinkActive="active">Login</a>
      </ng-container>
      <ng-template #loggedIn>
        <a *ngIf="hasAuthority(lvl3)" mat-list-item routerLink="calendar" routerLinkActive="active">Kalendarz</a>
        <a *ngIf="hasAuthority(lvl2)" mat-list-item routerLink="products" routerLinkActive="active">Produkty</a>
        <a *ngIf="hasAuthority(lvl2)" mat-list-item routerLink="students" routerLinkActive="active">Studenci</a>
        <a (click)="logout()" mat-list-item>Logout</a>
      </ng-template>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DrivApp</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
