<article>
  <h2>Editable Dynamic Table</h2>
  <table [dataSource]="dataSource" mat-table>
    <ng-container *ngFor="let col of displayedColumns; index as i" [matColumnDef]="col">
      <th *matHeaderCellDef mat-header-cell>
        <span *ngIf="col !== 'edit'">
          {{col}}
        </span>
      </th>
      <td *matCellDef="let element" mat-cell>
        <div *ngIf="!element.isEdit">
          <div *ngIf="col === 'edit';" class="btn-edit">
            <button (click)="element.isEdit = !element.isEdit">Edit</button>
          </div>
          <span #spanHeader>
            {{element[col]}}
          </span>
        </div>
        <div *ngIf="element.isEdit" [ngSwitch]="dataSchema[i]">
          <div *ngSwitchCase="'edit'" class="btn-edit">
            <button (click)="element.isEdit = !element.isEdit">Done</button>
          </div>
          <mat-form-field *ngSwitchCase="'date'" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input [(ngModel)]="element[col]" [matDatepicker]="picker" matInput>
            <mat-datepicker-toggle></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngSwitchDefault>
            <mat-label>{{col}}</mat-label>
            <input [(ngModel)]="element[col]" [type]="dataSchema[i]" matInput>
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</article>
