.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.table-container {
  position: relative;
  min-height: 376px;
  max-height: 376px;
  overflow: auto;
}

tr:hover {
  color: #3F57B5;
  background-color: #C2C7E6;
  cursor: pointer;
}
