<mat-card class="">
  <span class="">Produkty</span>
  <mat-icon (click)="addProduct()" class="float-right cursor-pointer hover:text-blue-500" color="primary">
    control_point
  </mat-icon>
  <div class="table-container">
    <table [dataSource]="products" class="w-full" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> Id</th>
        <td *matCellDef="let prod" mat-cell> {{prod.id!}} </td>
      </ng-container>

      <ng-container matColumnDef="productTypeCategory">
        <th *matHeaderCellDef mat-header-cell> kat.</th>
        <td *matCellDef="let prod" mat-cell> {{prod.productTypeCategory}} </td>
      </ng-container>

      <ng-container matColumnDef="productTypeName">
        <th *matHeaderCellDef mat-header-cell> nazwa</th>
        <td *matCellDef="let prod" mat-cell> {{prod.productTypeName}} </td>
      </ng-container>
      s
      <ng-container matColumnDef="hoursLeft">
        <th *matHeaderCellDef mat-header-cell> l. godzin</th>
        <td *matCellDef="let prod" mat-cell> {{prod.hoursLeft}} </td>
      </ng-container>

      <ng-container matColumnDef="bookOnline">
        <th *matHeaderCellDef mat-header-cell> online</th>
        <td *matCellDef="let prod" mat-cell> {{prod.bookOnline ? 'tak' : 'nie'}} </td>
      </ng-container>

      <ng-container matColumnDef="isPaid">
        <th *matHeaderCellDef mat-header-cell> zapłacono</th>
        <td *matCellDef="let prod" mat-cell> {{prod.isPaid ? 'tak' : 'nie'}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell> cena</th>
        <td *matCellDef="let prod" mat-cell> {{prod.price}} </td>
      </ng-container>

      <ng-container matColumnDef="productTypeBasePrice">
        <th *matHeaderCellDef mat-header-cell> c. baz</th>
        <td *matCellDef="let prod" mat-cell> {{prod.productTypeBasePrice}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let prod" mat-cell>
          <mat-icon [matMenuTriggerFor]="menu" class="cursor-pointer">more_vert</mat-icon>
          <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="editProduct(prod)" mat-menu-item>Edytuj</button>
            <button (click)="deleteProduct(prod.id)" mat-menu-item>Usuń</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="onClick(row)" *matRowDef="let row; columns: displayedColumns;" class="hover:bg-indigo-100"
          mat-row></tr>
    </table>


  </div>
</mat-card>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
