<mat-card class="mat-elevation-z6">
  <p class="">Products</p>
  <div class="table-container">
    <table [dataSource]="dataSource" class="w-full" mat-table>


      <ng-container *ngFor="let column of displayedColumns; index as i">
        <ng-container [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef>{{columnsHeader[i]}}</mat-header-cell>
          <mat-cell *matCellDef="let lesson">{{lesson[column]}}</mat-cell>
        </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="onClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      >
    </table>
  </div>
</mat-card>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
